/* ------------------------- GALERIA------------------------------- */
.contenidoGaleria {
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: auto auto;
   justify-items: center;
   align-items: start;
   grid-template-areas:
      "cochesHistoricos  grandesVictorias"
      "trofeos trofeos";
   .cochesHistoricos {
      width: 100%;
      grid-area: cochesHistoricos;
      display: grid;
      margin-top: 5%;
      align-items: start;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: auto auto auto;
      grid-template-areas:
         "tituloHistoricos tituloHistoricos tituloHistoricos"
         "coche1 coche2 coche3"
         "coche4 coche5 coche6";
      justify-items: center;
      row-gap: 10px;
      justify-content: space-between;
      .tituloHistoricos {
         grid-area: tituloHistoricos;
         @include titulosPrincipales(2.3rem, $primario, 700, center);
      }
      .coche1 {
         grid-area: coche1;
      }
      .coche2 {
         grid-area: coche2;
      }
      .coche3 {
         grid-area: coche3;
      }
      .coche4 {
         grid-area: coche4;
      }
      .coche5 {
         grid-area: coche5;
      }
      .coche6 {
         grid-area: coche6;
      }
      .coche1,
      .coche2,
      .coche3,
      .coche4,
      .coche5,
      .coche6 {
         @extend %divFlexCol;
         @include titulosPrincipales(1.7rem, $primario, 700, center);
         .img-fluid {
            @extend %imagenesTodas;
            width: 85%;
            &:hover {
               @extend %zoomImagen;
            }
         }
      }
   }
   .grandesVictorias {
      width: 100%;
      margin-top: 5%;
      grid-area: grandesVictorias;
      display: grid;
      align-items:start;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: auto auto;
      grid-template-areas:
         "tituloVictorias tituloVictorias tituloVictorias"
         "victoria1 victoria2 victoria3"
         "victoria4 victoria5 victoria6";
      justify-items: center;
      row-gap: 10px;
      justify-content: space-between;
      .tituloVictorias {
         grid-area: tituloVictorias;
         @include titulosPrincipales(2.3rem, $primario, 700, center);
      }
      .victoria1 {
         grid-area: victoria1;
      }
      .victoria2 {
         grid-area: victoria2;
      }
      .victoria3 {
         grid-area: victoria3;
      }
      .victoria4 {
         grid-area: victoria4;
      }
      .victoria5 {
         grid-area: victoria5;
      }
      .victoria6 {
         grid-area: victoria6;
      }
      .victoria1,
      .victoria2,
      .victoria3,
      .victoria4,
      .victoria5,
      .victoria6 {
         @extend %divFlexCol;
         @include titulosPrincipales(1.7rem, $primario, 700, center);
         .img-fluid {
            @extend %imagenesTodas;
            width: 85%;
            &:hover {
               @extend %zoomImagen;
            }
         }
      }
   }
   .trofeos {
      width: 50%;
      grid-area: trofeos;
      display: grid;
      align-items: start;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: auto auto;
      grid-template-areas:
         "tituloTrofeos tituloTrofeos tituloTrofeos"
         "trofeo1 trofeo2 trofeo3"
         "trofeo4 trofeo5 trofeo6";
      justify-items: center;
      row-gap: 10px;
      justify-content: space-between;
      .tituloTrofeos {
         grid-area: tituloTrofeos;
         @include titulosPrincipales(2.3rem, $primario, 700, center);
      }
      .trofeo1 {
         grid-area: trofeo1;
      }
      .trofeo2 {
         grid-area: trofeo2;
      }
      .trofeo3 {
         grid-area: trofeo3;
      }
      .trofeo4 {
         grid-area: trofeo4;
      }
      .trofeo5 {
         grid-area: trofeo5;
      }
      .trofeo6 {
         grid-area: trofeo6;
      }
      .trofeo1,
      .trofeo2,
      .trofeo3,
      .trofeo4,
      .trofeo5,
      .trofeo6 {
         @extend %divFlexCol;
         @include titulosPrincipales(1.7rem, $primario, 700, center);
         .img-fluid {
            @extend %imagenesTodas;
            width: 85%;
            &:hover {
               @extend %zoomImagen;
            }
         }
      }
   }
}